    {% load static %}

    <!-- About Start -->
    <div class="container-xxl py-6 pb-1" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">
                            <h1 class="display-1 mb-0">15</h1>
                            <h5 class="mb-0">Let</h5>
                        </div>
                        <h3 class="lh-base mb-0">praxe</h3>
                    </div>
                    <p class="mb-4">Můj Ateliér Se Nachází Ve Městě Turnov. V Případě Zájmu Mě Neváhejte Kontaktovat, Ráda Se S Vámi Domluvím Na Vaší Konkrétní Představě :)</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Portrétní focení žen</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Boudoir focení v ateliéru</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Svatební focení</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Rodinné a dětské focení</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Těhotenské focení</p>
                    {% comment %} <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> {% endcomment %}
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src="{% static 'img/studio.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src="{% static "img/profile.jpg" %}" alt="">
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">Spokojených zákazníků</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">1000</h2>
                    </div>
                    <p class="mb-4">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam amet diam ipsum clita labore dolor duo clita.</p>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">Úspěšných projektů</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">100</h2>
                    </div>
                    <p class="mb-0">Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam amet diam ipsum clita labore dolor duo clita.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->