<div class="vw-100 d-flex align-items-center position-fixed start-0 top-0 justify-content-center" id="navbar" role="navigation">
    <div class="p-2">
      <div id="mainNav">
        <ul class="list-unstyled rounded ms-2 d-flex">
          <li><a class="vlink rounded border-0" href="#home"><i class="fas fa-home"></i> <span>Home</span></a></li>
          <li><a class="vlink rounded" href="#project"><i class="fas fa-photo-video"></i> <span>Galerie</span></a></li>
          <li><a class="vlink rounded" href="#service"><i class="fas fa-table"></i> <span>Ceník</span></a></li>
          {% comment %} <li><a class="vlink rounded" href="#"><i class="fas fa-headset"></i> <span>Call Us</span></a></li> {% endcomment %}
          {% comment %} <li><a class="vlink rounded" href="#"><i class="far fa-calendar-alt"></i> <span>Schedule</span></a></li> {% endcomment %}
          {% comment %} <li><a class="vlink rounded" href="#about"><i class="fas fa-user-circle"></i> <span>O mně</span></a></li> {% endcomment %}
          <li><a class="vlink rounded" href="#about"><i class="fas fa-newspaper"></i> <span>Kontakt</span></a></li>
        </ul>
      </div>
    </div>
  </div>